<!--<span id='test'></span>
<br></br>
yay, it works!-->
<canvas id='canvas'></canvas>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
//socket.io setup code from https://flask-socketio.readthedocs.io/en/latest/
var buttonList = [];
var start = true;
class Button{
    constructor(x,y,width,height,color,text,font,textColor, fun){
        this.x = x;
        this.y = y;
        this.width = width;
        this.height = height;
        this.color = color;
        this.text = text;
        this.font = font;
        this.textColor = textColor;
        this.fun = fun;
        buttonList.push(this);
    }
    
}

function drawButton(button){
        context.fillStyle = button.color;
        context.fillRect(button.x-button.width/2,button.y-button.height/2,button.width,button.height);
        context.fillStyle = button.textColor;
        context.textAlign = "center";
        context.font = button.font;
        context.fillText(button.text,button.x,button.y);
    }

    var socket = io.connect('http://' + document.domain + ':' + location.port);
    var circles = [];
    var rectangles = [];
    var polygons = [];
    var thingsToDraw = [];
    var scale;
    var view = {x:0,
                y:0}
    var destroyed = false
    var mapZoom = 1/1000;
    var maxDist = 2;
    //record keys currently pressed, copied from capture the flag game I created
    keysPressed = [];
    for (i=0; i < 193; i++){keysPressed[i]=false;}

    function resetPressedKeys(){
    for (i=0; i < 193; i++){keysPressed[i]=false;}
    }


    socket.on('destroyed',function(data){
        destroyed = true;
        var b = new Button(canvas.width/2,2*canvas.height/3,200,60,'green','Play again',
            "30px Arial", 'white','newGame()');
        console.log('destroyed');
    });

    window.addEventListener('keydown', function (e) {
    for (i = 8; i < 193; i++){
        if (e.keyCode == i){
        keysPressed[i] = true;
        }
    }
    if (e.keyCode == 37 || e.keyCode==65){
            socket.emit('rotate',1);
        }
    if (e.keyCode == 39 || e.keyCode==68){
            socket.emit('rotate',-1);
        }
    if (e.keyCode == 38 || e.keyCode==87){
            socket.emit('fire engine',1);
        }
    if (e.keyCode == 40 || e.keyCode==83 || e.keyCode==32){
        socket.emit('shoot');
        }
    });
    window.addEventListener('keyup', function (e) {
    for (i = 8; i < 193; i++){
        if (e.keyCode == i){
        keysPressed[i] = false;
        }
    }
    if (e.keyCode == 37 || e.keyCode==65){
            socket.emit('rotate',0);
        }
    if (e.keyCode == 39 || e.keyCode==68){
            socket.emit('rotate',0);
        }
    if (e.keyCode == 38 || e.keyCode==87){
            socket.emit('fire engine',0);
        }
    });

    //left = keysPressed[37] || keysPressed[65];
    //right = keysPressed[39] || keysPressed[68];
    //up = keysPressed[38] || keysPressed[87];
    //down = keysPressed[40] || keysPressed[83];

    socket.on('connect', function() {
        var canvas = document.getElementById('canvas');
        var margin = 16; //remove scroll bars
        var width = window.innerWidth-margin;
        var height = window.innerHeight-margin;
        var whRatio = 1536/754;
        if (width/height > whRatio){
            canvas.height = height;
            canvas.width = whRatio * height;
        }
        else{
            canvas.width = width;
            canvas.height = width/whRatio;
        }
        scale = canvas.width/1536;
        context = canvas.getContext('2d');
        context.fillStyle = 'black';
        context.fillRect(0,0,canvas.width,canvas.height);
        var b = new Button(canvas.width/2,2*canvas.height/3,200,60,'green','start game',
            '30px Arial','white','startGame()');
        tick();
    });

    socket.on('update', function(data){
        thingsToDraw = JSON.parse(JSON.stringify(data));
        circles = thingsToDraw.circles;
        rectangles = thingsToDraw.rectangles;
        polygons = thingsToDraw.polygons;
    });
    var adjust;
    socket.on('view', function(data){
        view = JSON.parse(JSON.stringify(data));
        adjust = 1/(2*Math.sqrt(Math.pow((circles[0].x - view.x),2)+Math.pow((circles[0].y - view.y),2)))
    });

    window.addEventListener('mousedown', function (e) {
        var count = 0;
        while(count < buttonList.length){
            var button = buttonList[count];
            var xCond = (button.x-button.width/2 <= e.clientX) && (e.clientX <= button.x+button.width/2);
            var yCond = (button.y-button.height/2 <= e.clientY) && (e.clientY <= button.y+button.height/2);
            if (xCond && yCond){
                eval(button.fun);
            }
            count++;
        }
    })

function sign(x){
    return x/Math.abs(x);
}

function mag(pt){
    return Math.sqrt(Math.pow(pt.x,2)+Math.pow(pt.y,2));
}

    function drawCircles(zoom, cx, cy, viewX, viewY, distFn){
        
        var count = 0;
        while (count<circles.length){
            context.beginPath();
            pt = circles[count];
            if(pt.r >10){
                console.log('x: '+pt.x+' y: '+pt.y);
            }
            if(distFn != ''){
                pt = pt.mini;
            }
            var p = adjustPoint(pt,cx,cy,viewX,viewY,zoom);
            var r = circles[count].r * scale;
            
            //console.log('x: '+x+' y: '+y);
           // console.log(Math.log(x));
       // console.log(Math.log(y));
      //      x = sign(x) * eval(distFn+'('+Math.abs(x)+')');
      //      y = sign(y) * eval(distFn+'('+Math.abs(y)+')');
    
         //   console.log('x: '+x+' y: '+y);
            r = r*zoom;
            var color = circles[count].color;
            context.fillStyle = color;
            context.ellipse(p.x, p.y, r, r, 0, 2 * Math.PI, false);
            context.fill();
            count++;
            context.closePath();
        }
        
    }

    function startGame(){
        socket.emit('first start');
        start = false;
        buttonList = [];
    }

function zoomF(point, zoom){
    point.x *=zoom;
    point.y *= zoom;
    return point;
}
function shift(point,viewX,viewY){
    var newPoint = {};
    newPoint.x = (point.x-viewX+canvas.width/2)*scale;
    newPoint.y = (point.y-viewY+canvas.height/2)*scale;
    return newPoint;
}
function scaleDist(point, distFn){
    var newPoint = {};
   // console.log('scaleDist start x: '+point.x+' y: '+point.y);
   if (point.x != 0){
     newPoint.x = sign(point.x) * eval(distFn+'('+Math.abs(point.x)+')');
   }
   else{newPoint.x=0;}
   // console.log(distFn+'('+Math.abs(point.x)+')');
   // console.log('scaleDist change x x: '+npoint.x+' y: '+point.y);
   if (point.y != 0){
    newPoint.y = sign(point.y) * eval(distFn+'('+Math.abs(point.y)+')');
    }
    else{newPoint.y=0;}
   // console.log('scaleDist change y x: '+point.x+' y: '+point.y);
    return newPoint;
}

function adjustAndScalePoint(point,cx,cy,viewX,viewY,zoom,distFn){
    var newPoint = {};
    newPoint = shift(point,viewX,viewY);
    newPoint = scaleDist(newPoint,distFn);
    newPoint = zoomF(newPoint, zoom);
    newPoint.x += cx;
    newPoint.y += cy;
    return newPoint;
}

function adjustPoint(point,cx,cy,viewX,viewY,zoom){
    var newPoint = {};
    newPoint = shift(point,viewX,viewY);
    newPoint = zoomF(newPoint, zoom);
    newPoint.x += cx;
    newPoint.y += cy;
    return newPoint;
}

function scalePolygon(pt, polygon, distFn){
    newPoint = {};
    newPoint.x = pt.x ;//- polygon.x;
    newPoint.y = pt.y ;//- polygon.y;
    console.log('new x: '+newPoint.x+' y: '+newPoint.y);
    newPoint = scaleDist(newPoint, distFn);
    console.log('scaleDist x: '+newPoint.x+' y: '+newPoint.y);
   // newPoint.x += polygon.x;
  //  newPoint.y += polygon.y;
    console.log('final x: '+newPoint.x+' y: '+newPoint.y);
    return newPoint;
}

    function drawRectangles(){}
    //https://www.w3schools.com/tags/canvas_lineto.asp
    //http://scienceprimer.com/drawing-regular-polygons-javascript-canvas
    function drawPolygons(zoom, cx, cy, viewX, viewY, distFn){
        var count = 0;
        while (count < polygons.length){
            polygon = polygons[count];
            context.fillStyle = polygon.color;
            context.beginPath();
            var pt = polygon.points[0];
            if(distFn != ''){
                pt = polygon.mini[0];
            }
            //pt = scalePolygon(pt,polygon,distFn);
            var p = adjustPoint(pt,cx,cy,viewX,viewY,zoom);
            //var poly = adjustPoint(polygon,cx,cy,viewX,viewY,zoom);
            //p = scalePolygon(p,poly,distFn);
            context.moveTo(p.x, p.y);
            var pointNum = 1;
            while(pointNum < polygon.points.length){
                pt = polygon.points[pointNum];
                if(distFn != ''){
                pt = polygon.mini[pointNum];
                }
             //   console.log('x: '+pt.x+' y: '+pt.y);
               // pt = scalePolygon(pt,polygon,distFn);
             //   console.log('x: '+pt.x+' y: '+pt.y);
                p = adjustPoint(pt,cx,cy,viewX,viewY,zoom);
               // var poly = adjustPoint(polygon,cx,cy,viewX,viewY,zoom);
               // p = scalePolygon(p,poly,distFn);
                context.lineTo(p.x,p.y);
                console.log('drawn x: '+p.x+' y: '+p.y);
                pointNum++;
            }
            context.fill();
            context.stroke();
            context.closePath();
            count++;
        }
    }
    function newGame(){
        if (destroyed){
            console.log('start a new game');
            socket.emit('start again');
            destroyed = false;
            buttonList = [];
        }
    }
    function drawButtons(){
        var count = 0;
        while(count<buttonList.length){
            drawButton(buttonList[count]);
            count++;
        }
    }

    function miniMap(x,y,borderColor,borderWidth, size){
        context.fillStyle = borderColor;
        var w = canvas.width*size;//*(maxDist);//+1);
        var h = canvas.height*size;//*(maxDist);//+1);
        var a = 1/2;
        /*
        context.fillRect(x-a*w-borderWidth/2,y-a*h-borderWidth/2,
            w+borderWidth,h+borderWidth);
        context.fillStyle = 'black';
        context.fillRect(x-a*w,y-a*h,
            w,h);
        */
        drawAll(size,x,y,1536,754, '100*Math.log'); //100*Math.log
    }

function drawAll(size,x,y,viewX,viewY,distFn){
    drawCircles(size, x,y,viewX, viewY,distFn);
    drawRectangles();
    drawPolygons(size, x,y, viewX, viewY,distFn);
}

    function tick(){
        if (start){
            context.fillStyle = 'black';
            context.fillRect(0,0,canvas.width,canvas.height);
            context.fillStyle = 'white';
            context.textAlign = "center";
            context.font = "30px Arial";
            context.fillText("Use arrow keys to rotate and accelerate. Press space to shoot.",canvas.width/2,canvas.height/2);
            drawButtons();
        }
        else if (!destroyed){
            context.fillStyle = 'black';
            context.fillRect(0,0,canvas.width,canvas.height);
            drawAll(1, 0,0, view.x, view.y,'');
            var s = 5; 
            miniMap((2*s/maxDist-1)*canvas.width/(2*s/maxDist), (2*s/maxDist-1)*canvas.height/(2*s/maxDist),'blue',5,1/s);
        }
        else{
            context.fillStyle = 'black';
            context.fillRect(0,0,canvas.width,canvas.height);
            context.fillStyle = 'white';
            //https://www.w3schools.com/graphics/canvas_text.asp
            context.textAlign = "center";
            context.font = "30px Arial";
            context.fillText("You were destroyed",canvas.width/2,canvas.height/2);
            drawButtons();
        }
        window.requestAnimationFrame(tick);
    }
</script>

